{% macro note(note) -%}
<div class="row">
    <div class="col-1 d-flex align-items-center">
        <h2>#{{note.id}}</h2>
    </div>
    <div class="col-10">
        <dl class="row">
            <span class="col-2 align-items-center">{{note.adminckey}} asks...</span><span class="col-10">"{{note.text}}"</span>
            <span class="offset-9 col-3">{{note.round_id}}</span>
        </dl>
    </div>
    <div class="col-1 d-flex align-items-center justify-content-around flex-column"><a href="{{note.link_url}}" class="btn btn-primary">View</a></div>
</div>
{%- endmacro %}