{% macro summary(poll_question) -%}
<div class="row m-1 my-2 border border-dark rounded-1">
    <div class="col-1 d-flex align-items-center">
        <h2>#{{poll_question.id}}</h2>
    </div>
    <div class="col-10">
        <dl class="row">
            <span class="col-2 align-items-center">{{poll_question.createdby_ckey}} asks...</span>
            <span class="col-7">"{{poll_question.question}}"</span>
            <span class="col-3">
                <div class="row">
                    <div class="col-12">
                        {{poll_question.poll_status}}
                    </div>
                    <div class="col-12">
                        Total Votes: {{poll_question.total_votes}}
                    </div>
            </span>
        </dl>
    </div>
    <div class="col-1 d-flex align-items-center justify-content-around flex-column">
        <a href="{{poll_question.link_url}}" class="btn btn-primary">View</a>
    </div>
</div>
{%- endmacro %}


{% macro detail(poll_question) %}
<b>Poll start date:</b> {{poll_question.starttime}}<br>
<b>Poll end date:</b> {{poll_question.endtime}}<br>
<b>{{poll_question.poll_status}}</b> <br />

<b>Started by:</b> {{poll_question.createdby_ckey}}<br>
<br>
<b>Question:</b> "{{poll_question.question}}"<br>
{%- endmacro %}