{% extends "base.html" %}
{% import 'polls/_poll.html' as poll %}

{% block navigation %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item"><a href="/polls">Polls</a></li>
		<li class="breadcrumb-item active" aria-current="page">Poll #{{current_poll.id}}</li>
	</ol>
</nav>
{% endblock navigation %} 

{% block header %}
	Poll #{{current_poll.id}}
{% endblock header %}

{% block body %}
	{{ poll.detail(current_poll) }}
	{% for vote in votes %}
	{% set percent = percentages[loop.index - 1]|int -%}
	<div class="row">
		<span class="col-2"><b>{{loop.index}}.</b>{{vote.text}}</span><span class="offset-8 col-2 text-right">{{vote.votes}} votes ({{percent}}%)</span></div>
		<div class="progress">
			<div class="progress-bar w-{{percent}}" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	{% endfor %}
{% endblock body %}