{% extends "base.html" %}

{% import 'polls/_poll.html' as poll %}

{% block navigation %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Polls</li>
	</ol>
</nav>
{% endblock navigation %} 

{% block header %}
	Polls
{% endblock header %}

{% block body %}
	{% for object in pages.get_object_list() %}
		{{ poll.summary(object) }}
	{% else %}
		There hasn't been any polls played... yet.
	{% endfor %}
{% include "pages.html" %}
{% endblock body %}