{% extends "base.html" %}

{% import 'polls/_poll.html' as poll %}

{% block navigation %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Polls</li>
	</ol>
</nav>
{% endblock navigation %} 

{% block header %}
	Polls
{% endblock header %}

{% block body %}
	<div class="row justify-content-around">
	{% for object in pages.get_object_list() %}
		<div class="card col-12 m-3">
			{{ poll.summary(object) }}
		</div>
	{% endfor %}
	</div>

{% include "pages.html" %}
{% endblock body %}