{% macro summary(round) -%}
<div class="row">
    <div class="col-1 d-flex align-items-center">
        <h2 class="">#{{round.id}}</h2>
    </div>
    <div class="col-10">
        <div class="row p-3">
            <span class="col-12">{{round.game_mode}} - {{round.map_name}} - {{round.ship_name}}</span>
            <span class="col-10">{{round.game_mode_result}} ({{round.status}})</span>
            <span class="col-2">Players: {{round.unique_players}}</span>
        </div>
    </div>
    <div class="col-1 d-flex align-items-center justify-content-around flex-column"><a href="{{round.link_url}}" class="btn btn-primary">View</a></div>
</div>
{%- endmacro %}