{% extends "base.html" %}
{% block header %}
Details about Round #{{round_info.id}}
{% endblock header %}
{% block body %}
	<div>
		<div class="well">
			<div><b>Ship name</b>: {{round_info.ship_name}}</div>
			<div><b>Map name</b>: {{round_info.map_name}}</div>
			<div><b>Game mode:</b> {{round_info.game_mode}}</div>
			<div><b>Unique Players:</b> {{round_info.unique_players}}</div>
		</div>

		<!-- <p>
			<div><b>Server:</b> {{round_info.server_ip}}:{{round_info.server_port}}</div>
			<div><b>Commit hash:</b> {{round_info.commit_hash}}</div>
		</p> -->

		<p>
			<div><b>Init time:</b> {{round_info.initialize_datetime}}</div>
			<div><b>Round Start:</b> {{round_info.start_datetime}}</div>
			<div><b>Round Finished:</b> {{round_info.end_datetime}}</div>
			<div><b>Duration:</b> {{round_info.duration}}</div>
			<div><b>Result:</b> {{round_info.game_mode_result}}</div>
			<!-- <div><b>End state:</b> {{round_info.end_state}}</div> -->
		</p>
		

		<section>
			<h3>Stats</h3>
			<ul>
			{% for stat in round_info.feedback %}
				<li>
					{% if stat.is_nested %}
						<span><b>{{stat.key_name|replace('_', ' ')}}</b></span>:
						<ul>
							{% for key, value in stat.value.items() %}
								<li>{{key}}: {{value}}</li>
							{% endfor %}
						</ul>

					{% else %}
						<span><b>{{stat.key_name|replace('_', ' ')}}</b></span>: {{stat.value}}
						
					{% endif %}
				</li>
			{% endfor %}
			</ul>

		</section>

		<div class="back">
			<a href="{{url_for('rounds.index')}}">Back</a>
		</div>
	</div>
{% endblock body %}