<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Statbus</title>
	<meta name="description" content="Meanigless statistics for an even more meaningless game.">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}"/>
</head>
<body>
	<div class='header'>Welcome!</div>
	<div class='container'>
		{% block content %} {% endblock %}
    </div>
</body>
</html>