<hr />

<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-8">
                    <h5>TerraGov Marine Corps</h5>
                    <img src='unknown.jpg' style="display: block; height: 150px; width: 150px;" alt="tgmc logo">
                </div>
            <div class="col-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="{{url_for('frontpage.index')}}"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="{{url_for('social.github')}}"><i class="fa fa-angle-double-right"></i>Github</a></li>
                    <li><a href="{{url_for('social.discord')}}"><i class="fa fa-angle-double-right"></i>Discord</a></li>
                    <li><a href="{{url_for('social.getting_started')}}"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <div><u><a href="{{url_for('social.github')}}">TerraGov Marine Corps</a></u> is a terrible game.</div>
                <div class="h6">&copy All right Reversed.</div>
            </div>
            </hr>
        </div>	
    </div>
</section>