{% extends 'base.html' %}
{% import 'rounds/_round.html' as round %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-1">Statbus</h1>
    <section>
        Welcome to the TGMC Statbus!
    </section>
</div>

<hr />

<div>
    <h2>Active Polls</h2>
    <div>
        <em>Make sure to connect to the server to vote!</em>
        {% for object in active_polls %}
            {{ poll.summary(object) }}
        {% else %}
            <blockquote> - No active polls</blockquote>
        {% endfor %}
    </div>
</div>

<hr />

<div>
    <div>
        <h2>Recent rounds <span class="small text-right"><a href="{{url_for('rounds.index')}}">view all</a></span></h2>
        
    </div>
    
    <div>
        {% for object in recent_rounds %}
            {{ round.summary(object) }}
        {% else %}
            <blockquote>No recent rounds</blockquote>
        {% endfor %}
    </div>
</div>>
{% endblock %}
